@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  background-color: #242424;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: MediumSeaGreen;
  font-weight: 600;
}

h2 {
  color: white;
  font-weight: 500;
}

h3 {
  color: white;
  font-weight: 400;
}

p {
  color: white;
  font-size: smaller;
}

ol {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2%;
  color: white;
  list-style-position: inside;
  padding: 0;
}

ol li {
  margin-bottom: 10px;
  border: rgb(104, 104, 104);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  border-spacing: 100px;
  padding-top: 10px;
  line-height: 10px;
}

ol li:hover {
  border: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  transition: 0.25s;
}

ol li:hover > #track-name{
  color:mediumseagreen
}

img {
  border-radius: 10px;
}

.btn {
  color:white; 
  background: #242424;
  border: solid;
  border-radius: 5px;
  transition: 0.5s;
  border-width: 1px;
  width: 100px;
  height: 40px;
  font-size: larger;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.btn:hover {
  color: rgb(7, 7, 7);
  background: MediumSeaGreen;
}

.search-bar {
  margin-right: 2%;
  border-radius: 5px;
  background-color: mistyrose;
  height: 35px;
  font-size: larger;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.correctTrack {
  color:MediumSeaGreen;
}

.incorrectTrack {
  color: tomato;
}

.artist-div {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
  border: rgb(104, 104, 104);
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  padding-bottom: 2%;
  transition: 0.25s;
}

.artist-div:hover {
  border: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 15px;
  transition: 0.25s;
}

.artist-div:hover > #artist-name {
  color: MediumSeaGreen;
  transition: 0.25s;
}

.related-artists-h2 {
  margin-top: 75px;
  color: hotpink;
  font-size: xx-large;
}

.correct-order-h2 {
  color:mediumseagreen;
}
