.App {
  text-align: center;
}

.App-header {
  background-color: #3f5683;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.correctTrack {
  color:MediumSeaGreen;
}

.incorrectTrack {
  color: tomato;
}

body {
  background-color: #242424;
}

h1 {
  color: MediumSeaGreen;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}

ol {
  /* background: darkslategray; */
  margin-left: 15%;
  margin-right: 15%;
  color: white;
  text-align: center;
  list-style-position: inside;
}

ol li {
  padding: 1vw;
  margin-bottom: 1vw;
  user-select: none;
}

.btn {
  color:white;
  background: #242424;
  border: solid;
}

.btn:hover {
  color: green;
  background: white;
}
